@using Microsoft.AspNet.Identity
@using SmartVerify
@if (UserHelper.Instance.GetUser() != null && UserHelper.Instance.GetUser().UserId > 0)
{
    using (Html.BeginForm("LoginOut", "Login", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("你好，" + UserHelper.Instance.GetUser().UserName + "!", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Home" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">注销</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("注册", "Index", "Login", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("登录", "Index", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
